#calendar_week_table {
	width: 100%;
}

#calendar_week_table td:first-child {
	min-width: 40px;
	max-width: 40px;
	font-weight: bold;
	
}

#calendar_week_table td {
	overflow: hidden;
  	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 0;
	vertical-align:baseline;
	padding-right: 10px;
}

#calendar_week_table tr {
	height: 40px;
}